{% extends "base.html" %}
{% block title %}Воспоминания пользователя {{ user.username }}{% endblock %}
{% block content %}

<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    {% for ass in backends.associated %}
                                        <div class="col-md-6 text-center">
                                            <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
                                        </div>
                                    {% endfor %}
                                    <div class="h2">
                                        {{ user.first_name }}
                                    </div>
                                    <div class="h3">
                                         {{ user.last_name }}
                                    </div>


                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                    Сохраненных воспоминаний: {{ paginator.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                            <a class="btn btn-lg btn-primary"
                                                    href="{% url 'new_memory' %}" role="button">
                                                    Добавить<br>воспоминание
                                            </a>
                                        </li>

                                </ul>
                            </div>
                    </div>
            </div>

            <div class="col-md-9">
                <!-- Начало блока с отдельным воспоминанием -->
                {% if paginator.count == 0 %}
                Вы еще не добавили ни одного воспоминания
                {% else%}
                    {% for memory in page %}
                        {% include "memory_item.html" with memory=memory %}
                    {% endfor %}

                    {% if page.has_other_pages %}
                        {% include 'paginator.html' with items=page paginator=paginator %}
                    {% endif %}
                {% endif %}
            </div>
    </div>

</main>

{% endblock %}

